{{>header}}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary rounded">
  <a class="navbar-brand" href="#">iExplore</a>
  <div class="collapse navbar-collapse" id="navbar_example_1">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbar_1_dropdown_1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
              <div class="dropdown-menu" aria-labelledby="navbar_1_dropdown_1">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
              </div>
          </li>
          <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
          </li>
      </ul>
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link nav-link-icon" href="#"><i class="fas fa-cogs"></i></a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link nav-link-icon" href="#" id="navbar_1_dropdown_2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bell"></i></a>
              <div class="dropdown-menu dropdown-menu-right dropdown-menu-xl py-0">
                  <div class="py-3 px-3">
                      <h5 class="heading h6 mb-0">Notifications</h5>
                  </div>
                  <div class="list-group">
                      <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
                          <div class="list-group-img">
                              <span class="avatar bg-purple">JD</span>
                          </div>
                          <div class="list-group-content">
                              <div class="list-group-heading">Johnyy Depp <small>10:05 PM</small></div>
                              <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipiscing eiusmod tempor</p>
                          </div>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
                          <div class="list-group-img">
                              <span class="avatar bg-pink">TC</span>
                          </div>
                          <div class="list-group-content">
                              <div class="list-group-heading">Tom Cruise <small>10:05 PM</small></div>
                              <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipiscing eiusmod tempor</p>
                          </div>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
                          <div class="list-group-img">
                              <span class="avatar bg-blue">WS</span>
                          </div>
                          <div class="list-group-content">
                              <div class="list-group-heading">Will Smith <small>10:05 PM</small></div>
                              <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipiscing eiusmod tempor</p>
                          </div>
                      </a>
                  </div>
                  <div class="py-3 text-center">
                      <a href="#" class="link link-sm link--style-3">View all notifications</a>
                  </div>
              </div>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link nav-link-icon" href="#" id="navbar_1_dropdown_3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user"></i></a>
              <div class="dropdown-menu dropdown-menu-right">
                  <h6 class="dropdown-header">User menu</h6>
                  <a class="dropdown-item" href="#">
                      <span class="float-right badge badge-primary">4</span>
                      <i class="fas fa-envelope text-primary"></i>Messages
                  </a>
                  <a class="dropdown-item" href="#">
                      <i class="fas fa-cog text-primary"></i>Settings
                  </a>
                  <div class="dropdown-divider" role="presentation"></div>
                  <a class="dropdown-item" href="#">
                      <i class="fas fa-sign-out-alt text-primary"></i>Sign out
                  </a>
              </div>
          </li>
      </ul>
  </div>
</nav>
<div class="mt-3 container d-flex align-items-center no-padding">
  <div class="col">
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <div class="card bg-primary text-white">
          <div class="card-body">
            <button type="button" class="btn btn-primary btn-nobg btn-zoom--hover mb-5">
              <span class="btn-inner--icon"><svg class="svg-inline--fa fa-arrow-left fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="arrow-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z"></path></svg><!-- <i class="fas fa-arrow-left"></i> --></span>
            </button>
            <span class="clearfix"></span>
            <img src="../assets/images/brand/icon.png" style="width: 50px;">
            <h4 class="heading h3 text-white pt-3 pb-5">Welcome back,<br>
              login to your account.</h4>
            <form action="/login" method="POST" class="form-primary">
              <div class="form-group">
                <input type="email" name="user[email]"class="form-control" id="input_email" placeholder="Your email">
              </div>
              <div class="form-group">
                <input type="password" name="user[password]"class="form-control" id="input_password" placeholder="Password">
              </div>
              <div class="text-right mt-4"><a href="#" class="text-white">Forgot password?</a></div>
              <button type="submit" class="btn btn-block btn-lg bg-white mt-4">Sign in</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main">
    
</div>
{{>footer}}