{{>header}}
<link type="text/css" href="/assets/css/add-seminar.css" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <a class="ml-4"> </a>
  <a class="ml-5 pl-5 navbar-brand" href="#">iExplore</a>
  <div class="collapse navbar-collapse" id="navbar_example_1">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              
          </li>
      </ul>

  </div>
</nav>

<div class="main">
    <form class=" " action="/signup" method="POST">
        <fieldset class="">
        
      
        <legend class="pl-3">Sign Up</legend>
        
        
        <div class="form-group ">
          <label class="col-md-6 control-label" for="textinput">Email(for login use) </label>  
          <div class="col-md-12">
             <input id="textinput" name="user[email]" type="text" placeholder="login@gmail.com"class="form-control input-md">
            
          </div>
        </div>
            <div class="form-group ">
          <label class="col-md-4 control-label" for="textinput">Password</label>  
          <div class="col-md-12">
             <input id="textinput" name="user[password]" type="password" placeholder="Ofc you are not gonna put 123456, are you?!" class="form-control input-md">
            
          </div>
        </div>
        
         <div class="form-group ">
          <label class="col-md-12 control-label" for="textinput">Name</label>  
          <div class="col-md-12">
             <input id="textinput" name="user[name]" type="text" value="" placeholder="John Doe" class="form-control input-md">
            
          </div>
        </div>
        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="jointeacher"></label>
          <div class="col-md-4">
            <button type="submit" id="publishSeminar" name="publishSeminar" class="btn bg-primary btn-dark">Create</button>
          </div>
        </div>
        
        </fieldset>
        </form>
</div>
{{>footer}}